<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
    <style>
        th,
        td,
        body {
            direction: rtl;
        }
    </style>
</head>
<body class="direction:rtl !important">
<div id="app">
    <div
            class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
        <h5 class="my-0 mr-md-auto font-weight-normal">سامانه نوبت‌دهی</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a v-for="item in menuList" class="btn btn-outline-primary" v-on:click="activeForm = item.name" href="#">{{item.text}}</a>
            <a class="btn btn-outline-primary" v-on:click="logout()" href="#">خروج</a>
        </nav>
    </div>

    <div v-if="activeForm==='greeting'" class="pricing-header px-3 py-3 pt-md-12 pb-md-12 mx-auto text-center">
        <h1 class="display-4">سلام {{profile.name + ' ' + profile.family}}!</h1>
        <h1 class="display-4">به سامانه نوبت‌دهی خوش‌آمدید!</h1>
        <p>
            جهت تعریف یا ویرایش پزشکان، منشی‌ها و تخصص‌ها، گزینه‌ی مورد نظر
            را از منوی بالا انتخاب نمایید.
        </p>
    </div>

    <div class="container">
        <div class="card-deck mb-4 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div id="modifyForm" class="card-body">
                    <div v-if="activeForm==='doctors'" class="container">
                        <p>
                            <button class="btn btn-success" v-on:click="showModifyForm=true">پزشک جدید</button>
                        </p>
                        <div v-if="showModifyForm">
                            <p class="lead">{{newUser.isEditing? 'ویرایش' : 'ایجاد'}} پزشک</p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>نام کاربری :</td>
                                    <td v-if="!newUser.isEditing"><input type="text" v-model="newUser.username"/></td>
                                    <td v-if="newUser.isEditing">{{newUser.username}}</td>
                                </tr>
                                <tr>
                                    <td>رمز ورود :</td>
                                    <td>
                                        <input type="password" v-model="newUser.password"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>نام :</td>
                                    <td><input type="text" v-model="newUser.name"/></td>
                                </tr>
                                <tr>
                                    <td>نام خانوادگی :</td>
                                    <td><input type="text" v-model="newUser.family"/></td>
                                </tr>
                                <tr>
                                    <th>انتخاب تخصص:</th>
                                    <td>
                                        <select v-model="selectedSpecialty">
                                            <option v-for="specialty in specialties" :value="specialty.name">
                                                {{specialty.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="addSpecialtyToDoctor()"> افزودن
                                        </button>
                                    </td>
                                </tr>
                                <tr v-for="(specialty, index) in newUser.specialties">
                                    <td>{{specialty}}</td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="removeSpecialtyFromDoctor(index)">
                                            حذف
                                        </button>
                                    </td>
                                </tr>
                                <Tr>
                                    <td colspan="2">
                                        <button class="btn btn-success" v-on:click="saveUser()">ذخیره</button>
                                        <button class="btn btn-success" v-on:click="showModifyForm=false">انصراف
                                        </button>
                                    </td>
                                </Tr>
                            </table>
                        </div>
                        <div>
                            <p class="lead">لیست پزشکان</p>
                            <table class="table table-bordered">
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>تخصص‌ها</th>
                                    <th>عملیات</th>
                                </tr>
                                <tr v-for="(doctor, index) in doctors">
                                    <td>{{doctor.username}}</td>
                                    <td>{{doctor.name}}</td>
                                    <td>{{doctor.family}}</td>
                                    <td>{{doctor.specialties.join(', ')}}</td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="editUser(doctor)">ویرایش</button>
                                        <button class="btn btn-success" v-on:click="removeUser(index)">حذف</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div v-if="activeForm==='secretaries'" class="container">
                        <p>
                            <button class="btn btn-success" v-on:click="showModifyForm=true">منشی جدید</button>
                        </p>
                        <div v-if="showModifyForm">
                            <p class="lead">{{newUser.isEditing? 'ویرایش' : 'ایجاد'}} منشی</p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>نام کاربری :</td>
                                    <td v-if="!newUser.isEditing"><input type="text" v-model="newUser.username"/></td>
                                    <td v-if="newUser.isEditing">{{newUser.username}}</td>
                                </tr>
                                <tr>
                                    <td>رمز ورود :</td>
                                    <td><input type="password" v-model="newUser.password"/></td>
                                </tr>
                                <tr>
                                    <td>نام :</td>
                                    <td><input type="text" v-model="newUser.name"/></td>
                                </tr>
                                <tr>
                                    <td>نام خانوادگی :</td>
                                    <td><input type="text" v-model="newUser.family"/></td>
                                </tr>
                                <tr>
                                    <th>انتخاب پزشک:</th>
                                    <td>
                                        <select v-model="selectedDoctor">
                                            <option v-for="doctor in doctors" :value="doctor.username">
                                                {{doctor.username}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="addDoctorToSecretary()"> افزودن
                                        </button>
                                    </td>
                                </tr>
                                <tr v-for="(doctor, index) in newUser.doctors">
                                    <td>{{doctor}}</td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="removeDoctorFromSecretary(index)">
                                            حذف
                                        </button>
                                    </td>
                                </tr>
                                <Tr>
                                    <td colspan="2">
                                        <button class="btn btn-success" v-on:click="saveUser()">ذخیره</button>
                                        <button class="btn btn-success" v-on:click="showModifyForm=false">انصراف
                                        </button>
                                    </td>
                                </Tr>
                            </table>
                        </div>
                        <div>
                            <p class="lead">لیست منشی‌ها</p>
                            <table class="table table-bordered">
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>پزشک‌ها</th>
                                    <th>عملیات</th>
                                </tr>
                                <tr v-for="(secretary, index) in secretaries">
                                    <td>{{secretary.username}}</td>
                                    <td>{{secretary.name}}</td>
                                    <td>{{secretary.family}}</td>
                                    <td>{{secretary.doctors.join(', ')}}</td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="editUser(secretary)">ویرایش</button>
                                        <button class="btn btn-success" v-on:click="removeUser(index)">حذف</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div v-if="activeForm==='specialties'" class="container">
                        <p>
                            <button class="btn btn-success" v-on:click="showModifyForm=true">تخصص جدید</button>
                        </p>
                        <div v-if="showModifyForm">
                            <p class="lead">تخصص جدید</p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>نام :</td>
                                    <td><input type="text" v-model="newSpecialty.name"/></td>
                                </tr>
                                <Tr>
                                    <td colspan="2">
                                        <button class="btn btn-success" v-on:click="saveSpecialty()">ذخیره</button>
                                        <button class="btn btn-success" v-on:click="showModifyForm=false">انصراف
                                        </button>
                                    </td>
                                </Tr>
                            </table>
                        </div>
                        <div>
                            <p class="lead">لیست تخصص‌ها</p>
                            <table class="table table-bordered">
                                <tr>
                                    <th>نام</th>
                                    <th>عملیات</th>
                                </tr>
                                <tr v-for="(specialty, index) in specialties">
                                    <td>{{specialty.name}}</td>
                                    <td>
                                        <button class="btn btn-success" v-on:click="removeSpecialty(index)">حذف</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            سامانه نوبت‌دهی
        </footer>
    </div>
</div>
</body>
</html>